{{>order_header_bar}}
<div class="ListOfCustomerOrders">
    
    {{#each orders}}
    <div class='orderinfo'>
        <section id='orderRelate'>
        <div class="orderId">
            <p>&nbsp Order ID:{{this.order_id}}</p>
        </div>
        <div class="orderTime">
            <p>&nbsp Ordered On {{this.order_date}}</p>
        </div>
        <div class="Status">
            <p>&nbsp Status: {{this.status}}</p>
        </div>
        <div class="PickupLocation">
            <p>Pick up Location: {{this.address}}</p>
        </div>
        </section>
        <section id='detailLink'>
        <div class="MoreDetail">
        <p id='orderedTime{{this.order_id}}'></p>
        <p>
            <a href="/customer/{{this.customer_id}}/{{this.order_id}}")><ion-icon name="cart-outline"></ion-icon>Detail</a>
        </p>
        <p>
            <a href="/customer/{{this.customer_id}}/{{this.order_id}}/map"><ion-icon name="navigate-outline"></ion-icon>Map</a>
        </p>
        
        </div>
        </section>
        <div class="bigScreen">
            <hr class='split'>
            <div class="orderDetail">
                <div class="orderDetailtitle">
                    <p>Order Details:</p>
                </div>
                <table>
                    {{#each this.order_items}}
                    <tr><td>{{this.food}}</td><td>&times;{{this.quantity}}</td></tr>
                    {{/each}}
                </table>
                <div class='Price'>
                <p>Total Price: ${{this.price}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    var orders = [{{{objectList orders}}}]
    for (var i=0;i<orders.length;i++){
        var order_id = orders[i].order_id
        var countDate
        countDate= timeConvert(orders[i].order_date, orders[i].start_time)
        var timer = document.getElementById('orderedTime' + order_id)
        countdown(countDate, timer)
    }

    function timeConvert(order_date, start_time){
        order_date = String(order_date)
        start_time = String(start_time)
        order_date = order_date.split('-')
        start_time = String(start_time).split(":")
        var year = parseInt(order_date[2])
        var month = parseInt(order_date[1])-1
        var day = parseInt(order_date[0])
        var hour = parseInt(start_time[0])
        var min = parseInt(start_time[1])
        var sec = parseInt(start_time[2])
        var countDate = new Date(year, month, day, hour, min, sec).getTime()
        return countDate
    }
    
    var timer = document.getElementById('orderedTime')

    function countdown(start_date, timer){

        var x = setInterval(function() {

                        var now = new Date().getTime();

                        var distance =  now - start_date;

                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        timer.innerHTML = 'Ordered time: '+ hours + ":" + minutes + ":" + seconds;


                        if (minutes > {{{overdueMin}}} || hours != 0 || days != 0) {
                        clearInterval(x);
                        timer.innerHTML = "Over Time, your discount apply";
                        }
                        }, 1000);
    }

</script>